<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.ConsoleAppender" name="console">
        <param value="System.err" name="target"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%p] %c{1}: %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.DailyRollingFileAppender" name="FileAppender">
        <param name="File" value="/export/logs/store-backend/app.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" name="ConversionPattern"/>
        </layout>
        <param value="true" name="ImmediateFlush"/>
    </appender>

    <!-- Perf4J appenders -->
    <appender name="MethodCallStatistics" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd-a" />
        <param name="File" value="/export/logs/store-backend/statistics.log"/>
        <param name="Append" value="true" />
        <param name="ImmediateFlush" value="true" />
        <param name="Threshold" value="DEBUG" />
        <layout class="br.com.store.backend.infrastructure.profiling.KeyValueLayout" />
    </appender>

    <appender name="SPLUNK" class="org.apache.log4j.net.SyslogAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="SyslogHost" value="localhost:529" />
        <param name="Facility" value="LOCAL0" />
        <param name="Threshold" value="INFO" />
        <layout class="br.com.store.backend.infrastructure.profiling.KeyValueLayout" />
    </appender>

    <!-- 3RD -->
    <logger name="org.apache.http">
        <level value="warn"/>
    </logger>
    <logger name="org.apache.commons.beanutils">
        <level value="warn"/>
    </logger>
    <logger name="org.apache.velocity.runtime.log">
        <level value="warn"/>
    </logger>
    <logger name="org.java.plugin.ObjectFactory">
        <level value="warn"/>
    </logger>
    <logger name="org.java.plugin.registry.xml">
        <level value="warn"/>
    </logger>
    <logger name="org.java.plugin.standard">
        <level value="warn"/>
    </logger>
    <logger name="org.java.plugin.standard.StandardPluginClassLoader">
        <level value="error"/>
    </logger>
    <logger name="org.springframework">
        <level value="warn"/>
    </logger>
    <logger name="com.sun.jersey">
        <level value="warn"/>
    </logger>
    <logger name="org.codehaus.jackson">
        <level value="warn"/>
    </logger>
    <logger name="org.eclipse.jetty">
        <level value="warn"/>
    </logger>
    
    <logger name="br.com">
        <level value="INFO"/>
    </logger>

    <logger name="br.com.store.backend">
        <level value="info"/>
    </logger>
    <logger name="StoreBackendSplunk" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SPLUNK" />
        <appender-ref ref="FileAppender"/>
    </logger>

    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="MethodCallStatistics"/>
        <appender-ref ref="SPLUNK" />
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="FileAppender"/>
    </root>

</log4j:configuration>
